.link{
    margin-left: 5px;
    margin-bottom: 5px;
    color: black;
    text-decoration: none;
}

.link:hover{
    color: rgb(90, 90, 89);
}

.navbar{
    background-color:rgba(0, 0, 0, 0.411);
}

.login{
  background-color: #23233b;
}

.registro{
  background-color: #23233b;
  box-shadow: 0 4px 15px rgba(232, 232, 232, 0.2); /* Sombra */
  border-radius: 50%; 
}

.full-height {
  height: 75vh; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}
.border-custom {
  border: 2px solid #ffffff; 
  border-radius: 4px; 
}

.form-control {
  background-color: transparent; 
}
body {
    background-image: url('https://th.bing.com/th/id/R.a9b43019faa05e77eee142859d328f97?rik=TCnkwAe0niPaXQ&pid=ImgRaw&r=0&sres=1&sresct=1'); /* Cambia esta URL por tu imagen de fondo */
    background-size:auto;
    background-position: center;
    
   
}
.registro {
  background-color: #23233b;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
  border-radius: 10px; /* Bordes redondeados */
 
}

.text-correcto {
  color: green; /* O el color que prefieras */
}

/* Estilos para hacer los labels blancos */
.text-white {
  color: white !important;
}

/* Evitar que los input cambien a blanco al hover */
.form-control {
  background-color: #f8f9fa; /* Color base del input */
  border: 1px solid #ced4da;
  color: #495057;
  transition: background-color 0.3s ease;
}

.form-control:hover, 
.form-control:focus {
  background-color: #f8f9fa; /* Sin cambios en hover o focus */
  box-shadow: none; /* Evitar sombra en focus */
  border-color: #80bdff; /* Color del borde en focus */
}

.boton-respuesta {
  transition: transform 0.3s ease; /* Suaviza la animación */
}

.boton-respuesta:hover {
  transform: scale(1.1); /* Hace el botón 10% más grande */
}

.footer-custom{
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.836);
}
.profile{
    display: flex;
    width: 100%;
}
.user-profile {
    display: flex;
    width: 100%;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(63, 59, 59, 0.9); /* Fondo blanco semi-transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.datos{
    width: 80%;
    display: flex;
}
.user-logo {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
h2, p {
    margin: 10px 0;
}
.label {
    font-size: 10px;
    font-weight: bold;
}
.section {
    padding: 100px 0;
    position: relative;
}

img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
label{
    color: #000000;
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #000000;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #000000;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #ffffff;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}
mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}
.theme-color {
    color: #fc5356;
}
.dark-color {
    color: #ffffff;
}
