<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizGame</title>
    <!-- Bootstrap CSS -->
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.0/mdb.min.css" rel="stylesheet">
    
      <link href="../public/css/style.css" rel="stylesheet">
</head>
{{#user}}
<header class="bg-teal w3-padding">

        <nav class="navbar navbar-expand-lg p-3 ">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="/quizgame/usuario/mostrarLobbyView">QuizGame</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                               {{#user}} Bienvenido {{nombre}}{{/user}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/quizgame/usuario/mostrarUserView">Perfil</a></li>
                                <li><a class="dropdown-item" href="/quizgame/usuario/cerrarSesion">Cerrar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</header>
{{/user}}





