
    <style>
        body {
            background-image: url('https://th.bing.com/th/id/R.a9b43019faa05e77eee142859d328f97?rik=TCnkwAe0niPaXQ&pid=ImgRaw&r=0&sres=1&sresct=1'); /* Cambia esta URL por tu imagen de fondo */
            background-size: cover;
            background-position: center;
        }
    </style>
<body>



</body>
</html>
