

<div class="full-height">
    <h1 class="text-center text-light">Bienvenido al Lobby</h1>
    
    <div class="row justify-content-center mt-4">
        <div class="col-md-4 text-center">
            <a href="/quizgame/nuevaPartida" class="btn btn-primary btn-lg mb-3">Partida</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="/quizgame/ranking" class="btn btn-secondary btn-lg mb-3">Ranking</a>
        </div>
        <div class="col-md-4 text-center">
            <a href="/quizgame/puntaje" class="btn btn-success btn-lg mb-3">Puntaje</a>
        </div>
    </div>
</div>

