
    <div class="user-profile">
        <!-- Logo del usuario -->
        <img src="{{logoUrl}}" alt="Logo del usuario" class="user-logo">

        <!-- Username -->
        <!-- Nombre y Apellido -->
        {{#user}}
         <p><span class="label">Usuario</span></p>
        <p>{{usuario}}</p>
        <p><span class="label">Nombre y Apellido:</span></p>
        <p>{{nombre}} {{apellido}}</p>
       
        <!-- Sexo -->
        <p><span class="label">Genero:</span></p>
        <p>{{genero}}</p>

        <!-- Año de nacimiento -->
        <p><span class="label">Año de Nacimiento:</span></p>
        <p>{{anoNacimiento}}</p>

        <!-- Email -->
        <p><span class="label">Email:</span></p>
        <p>{{email}}</p>

        <!-- Tipo de Usuario -->
        <p><span class="label">Tipo de Usuario:</span></p>
        <p>{{tipoUsuario}}</p>

        <!-- Cantidad de Partidas Jugadas -->
        <p><span class="label">Cantidad de Partidas Jugadas:</span></p>
        <p>{{cantidadPartidas}}</p>

        <!-- Puntaje Total -->
        <p><span class="label">Puntaje Total:</span></p>
        <p>{{puntajeTotal}}</p>
         {{/user}}
    </div>
