<style>
    .form-validation{
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
</style>

<form action="/QuizGame/usuario/validarToken" method="GET" class="form-validation">
    <label for="">Ingrese el token de confirmacion de cuenta</label><br>
    <input type="text" name="token"><br>
    <input type="submit" value="Enviar"><br>
</form>
